# Итоговый проект по PB

In [2]:
import numpy as np

In [ ]:
np.add()

In [6]:
q = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
q.append(11)

In [7]:
q[-5:]

[7, 8, 9, 10, 11]

In [8]:
example = {'id1':{'L11': 11,
                  'L12': 12,
                  'L13': 13,
                 },
           'id2':{'L21': 21,
                  'L22': 22,
                  'L23': 23,
                 }
          }

In [9]:
for n in example:
    print(n)

id1
id2

In [11]:
import pandas as pd

In [14]:
df = pd.DataFrame(example).T

In [15]:
df

      L11   L12   L13   L21   L22   L23
id1  11.0  12.0  13.0   NaN   NaN   NaN
id2   NaN   NaN   NaN  21.0  22.0  23.0

In [16]:
df.to_csv('data.csv', sep=';')

## feedparser

https://pythonhosted.org/feedparser/index.html

In [18]:
import feedparser

In [19]:
# Подключение к каналу
# https://news.yandex.ru/export.html
# https://news.yandex.ru/finances.rss
# https://news.yandex.ru/business.rss
# https://news.yandex.ru/politics.rss
d = feedparser.parse('https://news.yandex.ru/business.rss')
# Теперь d это обычный словарь

In [20]:
# Получение информации о канале
print(d['feed']['title'])
print(d.feed.link)
print(d.feed.description)

Яндекс.Новости: Экономика
https://news.yandex.ru/business.html?from=rss
Первая в России служба автоматической обработки и систематизации новостей. Сообщения ведущих российских и мировых СМИ. Обновление в режиме реального времени 24 часа в сутки.

In [21]:
# Получение новостей
print(d.entries[0].title)
print(d.entries[0].link)
print(d.entries[0].description)
print(d.entries[0].published)
print(d.entries[0].published_parsed)
print(d.entries[0].id)

Сбербанк зафиксировал снижение количества клиентов в офисах
https://news.yandex.ru/story/Sberbank_zafiksiroval_snizhenie_kolichestva_klientov_v_ofisakh--0417ef6c2413eb3c7aa72d1725bd16c7?lang=ru&from=rss&stid=l3QMObv3vdSr
Сбербанк зафиксировал снижение доли клиентов, посещающих физические офисы, с одновременным ростом общей клиентской базы. Об этом журналистам заявил глава банка Герман Греф.
11 Dec 2018 11:55:59 +0000
time.struct_time(tm_year=2018, tm_mon=12, tm_mday=11, tm_hour=11, tm_min=55, tm_sec=59, tm_wday=1, tm_yday=345, tm_isdst=0)
https://news.yandex.ru/story/Sberbank_zafiksiroval_snizhenie_kolichestva_klientov_v_ofisakh--0417ef6c2413eb3c7aa72d1725bd16c7?lang=ru&from=rss&stid=l3QMObv3vdSr

In [28]:
from datetime import datetime

date = d.entries[0].published_parsed
datetime(date.tm_year, date.tm_mon, date.tm_mday, date.tm_hour, date.tm_min, date.tm_sec)

datetime.datetime(2018, 12, 11, 11, 55, 59)

In [36]:
# Проверка существования элемента
print('title' in d.feed)
print(d.feed.get('title', 'No title'))
print(d.feed.get('ttl', 60))

True
Яндекс.Новости: Экономика
60

In [11]:
news = feedparser.parse('https://news.yandex.ru/business.rss')
for n in news.entries:
    print(n.link)

https://news.yandex.ru/story/Kompaniya_milliardera_Klyachina_kupila_proizvoditelya_syrkov_Druzhba--037195138dac87a46fc25f394497b8e0?lang=ru&from=rss&stid=7FmuL31-XY3OhqxDeW1U
https://news.yandex.ru/story/TGK-2_planiruet_prodat_dolyu_v_KHuadyan-Teninskoj_TEHC--64b4e7c4108db555d16f19aa4c4d8437?lang=ru&from=rss&stid=2yg0O8ccyRyI
https://news.yandex.ru/story/V_Podmoskove_podeshevela_arenda_domov_na_novogodnie_prazdniki--e162d3fb2e510964a77618fe50a2eccb?lang=ru&from=rss&stid=O_axtzjobLZR1Xs0dRuJ
https://news.yandex.ru/story/Rossijskij_fondovyj_rynok_nachal_nedelyu_snizheniem_indeksov--558ebfd874e1456b9d84afea15220087?lang=ru&from=rss&stid=oDBaEtuRajnM5ovioeen
https://news.yandex.ru/story/Gosduma_prinyala_zakon_o_povyshenii_MROT_na_117_rublej--f81f2381d6dddff47d7d55bb05540c54?lang=ru&from=rss&stid=Qv0YM5jMYcUsFQ5goHfq
https://news.yandex.ru/story/Rossiyane_uvleklis_kreditami_na_chernyj_den--c8a441adb9fe9c6be27bc58993760170?lang=ru&from=rss&stid=oQC-YPxcBIWG2rMbacG5
https://news.yandex.ru/story/Dollar_snova_volatilen--44574e8881c82b20a78d45ac5d6b7655?lang=ru&from=rss&stid=_RTAsDF3md4h
https://news.yandex.ru/story/FT_soobshhila_o_peregovorakh_po_prodazhe_Alfa-banka--63a72b0abad661dadf3c60216e95ac2b?lang=ru&from=rss&stid=UxRWXro434s7CfKs5i2q
https://news.yandex.ru/story/Rajffajzenbank_nashel_sposob_vzimat_shtrafy_za_prosrochku_po_kreditu--986f38f7fcdb114544771f408f1fa40f?lang=ru&from=rss&stid=YUabAvWDK4uToq_vHGVL
https://news.yandex.ru/story/Inflyaciya_v_Venesuehle_v_godovom_ischislenii_priblizilas_k_1_300_000--b10c6dea659896da41ff3ee1e9389e3c?lang=ru&from=rss&stid=h9o_RMOZ-MCukTCkWkGC
https://news.yandex.ru/story/Novye_schetchiki_na_gaz_v_kvartirakh_obojdutsya_primerno_v_130_mlrd_rublej--2980629de950cd817036ebd1dc7f8e18?lang=ru&from=rss&stid=dDu-ItH1keFbBVjZH1eD
https://news.yandex.ru/story/Rossiya_snizit_dobychu_nefti_v_yanvare_minimum_na_50_000_barrelej_v_sutki--e2d3f202f3c5ae791b1e725cf4b4d246?lang=ru&from=rss&stid=qAyti5tNy7Oh7gxOISEr
https://news.yandex.ru/story/Rossijskij_servis_InDriver_zarabotal_v_Brazilii_i_EHkvadore--d4467ddc6d454f5bf79530324c9ec8b2?lang=ru&from=rss&stid=ALAgYmxH
https://news.yandex.ru/story/EHksperty_Roskachestva_proveryat_toplivo_na_AZS--dec193ec646d993f31fccd30f18e167c?lang=ru&from=rss&stid=_hWzBiW8xc8WbFtrZDXl
https://news.yandex.ru/story/Sozdanie_ehnergokolca_v_Severo-Vostochnoj_Azii_obojdetsya_v_$76_mlrd--7eb504806f504ca0b6a3089b9b22b8de?lang=ru&from=rss&stid=O5Lql6xX5NpUdpnSEa8_
https://news.yandex.ru/story/Medvedev_zapretil_prodavat_Boyaryshnik_deshevle_vodki--4821dfd7d4ee73a115a4608170eb0591?lang=ru&from=rss&stid=YkScCi8Ry6rbo_Ps7BTM
https://news.yandex.ru/story/Vo_Francii_podschitali_vo_skolko_obojdutsya_ehkonomicheskie_mery_Makrona--f69eafec020c2cbfb99164d7d83edbcc?lang=ru&from=rss&stid=jyq0FAtHOZaMZYr23AqQ

## asyncio

https://docs.python.org/3/library/asyncio.html

https://proglib.io/p/python-asyncio/

https://habr.com/post/337420/

In [16]:
q = ['1', '2', '3']

In [17]:
q.remove('1')
q

['2', '3']

In [43]:
example = {'id1':{'L11': 11,
                  'L12': 12,
                  'L13': 13,
                 },
           'id2':{'L21': 21,
                  'L22': 22,
                  'L23': 23,
                 }
          }

In [38]:
not 'id1' in example

False

In [47]:
example

{'id2': {'L21': 21, 'L22': 22, 'L23': 23}}